.header {
    width: 100%;
    background: rgb(119, 140, 211);
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
    display:none;
}

.header>div {
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
}

.active{
    font-size:25px;
    color:blue;
}

.header>nav>a{
    -webkit-text-fill-color: black;
    text-decoration: none;
    padding-right: 5px;
}